<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <!-- Default Code -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="images/favicon.ico" />
    <title>Sign Up | IATA System</title>

    <!-- Font Icon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- CSS Imports -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/applicant-view.css" />

  </head>
  <body>
    
    <div class="main">
      <section class="applicant-view">
        <div class="container">
          <div class="view-content">
            <!-- Title -->
            <h1 class="view-title">Ranking da vaga Front-End Developer</h1>
            <a href="jobs-rh.html"><i class="zmdi zmdi-arrow-left"></i>&MediumSpace;&MediumSpace; Voltar</a>
            <!-- Table -->
            <section class="view-rank">
              <div class="rank-content">
                <h2 class="rank-number">#1</h2>
                <h3 class="rank-name">Eduardo Chiaratto</h3>
              </div>
              <div class="rank-content">
                <h2 class="rank-number">#2</h2>
                <h3 class="rank-name">Ricardo Kushima</h3>
              </div>
              <div class="rank-content">
                <h2 class="rank-number">#3</h2>
                <h3 class="rank-name">Maite Vitória</h3>
              </div>
            </section>
              
          </div>
        </div>
      </section>
    </div>

    <!-- JavaScript Imports -->
    <script type="text/javascript" src="js/login-recruiter.js"></script>
  </body>
</html>
