{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Default Code -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="images/favicon.ico" />
    <title>Add Job | IATA System</title>

    <!-- Font Icon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- CSS Imports -->
    <link href="{% static 'css/reset.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/job-form.css' %}" rel="stylesheet"/>

</head>
<body>

<div class="main">
    <section class="add-job">
        <div class="container">
            <div class="addjob-content">
                <!-- *FORM CONTENT* -->
                <h1 class="addjob-title fade-in">Cadastrar nova vaga</h1>

                <form action="createJobVacancy" class="addjob-form slide-in-fwd-center" id="addjob-form" method="POST">
                    {% csrf_token %}
                    <!-- [name] -->
                    <div class="form-content">
                        <label for="job_name">Cargo: </label>
                        <input id="job_name" name="job_name" placeholder="Digite o cargo da vaga" type="text"/>
                    </div>
                    <!-- [salary] -->
                    <div class="form-content">
                        <label for="job_salary">Sálario: </label>
                        <input id="job_salary" name="job_salary" placeholder="Digite o sálario da vaga" step="0.01"
                               type="number"/>
                    </div>
                    <!-- [category] -->
                    <div class="form-content">
                        <label for="job_category">Categoria: </label>
                        <select class="job_category" id="job_category" name="job_category">
                            <option value=""></option>
                            <option value="TECH">Tecnologia</option>
                            <option value="ADV">Advocacia</option>
                            <option value="ENG">Engenharia</option>
                            <option value="MKT">Marketing</option>
                        </select>
                    </div>
                    <!-- [type] -->
                    <div class="form-content">
                        <label for="job_type">Tipo: </i></label>
                        <select class="job_type" id="job_type" name="job_type">
                            <option value=""></option>
                            <option value="all_in">AllIn</option>
                            <option value="afro">BayAfro</option>
                            <option value="enable">Enable</option>
                            <option value="lgbtq">LGBTQ+</option>
                        </select>
                    </div>
                    <!-- [status] -->
                    <div class="form-content">
                        <label for="job_status">Status:</label>
                        <select class="job_status" id="job_status" name="job_status">
                            <option value="1">Ativa</option>
                            <option value="0">Desativada</option>
                        </select>
                    </div>
                    <!-- [description] -->
                    <div class="form-content">
                        <label for="job_description">Descrição</i></label>
                        <textarea class="job_description" id="job_description" name="job_description"></textarea>
                    </div>
                    <!-- Confirm Button -->
                    <div class="form-buttons">
                        <input class="job-confirm" id="job-confirm" name="job-confirm" type="submit" value="Finalizar"/>
                        <a class="delete-button" href="jobs-rh.html">Excluir</a>
                    </div>
                </form>
            </div>
        </div>
</div>
</section>
</div>
</body>
</html>
