body {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif; 
  color: #74788d;
  background: #EFEFF5;
  line-height: 1.8;
}

.main {
  padding-top: 67px; 
}

.container {
  width: 1308px;
  margin: 0 auto;
}

.jobs-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 60px 26px 60px;
}

.jobs-title {
  padding: 0;
  margin-bottom: 33px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  line-height: 1.66;
  color: #48465b;
}

.jobs-buttons {
  display: flex;
}

a {
  width: fit-content;
  text-decoration: none;
  padding: 0px 28px;
  border-radius: 5px;
  background: #0084F4;
  transition: background-color 0.3s linear;
  line-height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

a:hover {
  background: #0D91FF; 
}

.exit-button {
  padding: 0px 28px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  background: #FF3958;
  transition: background-color 0.3s linear;
  line-height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.exit-button:hover {
  background: #FF647C;
}

.jobs-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 33px;
}

.card {
  width: 360px;
  height: 318px;
  margin: 0 27px 54px 27px;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.card:hover {
  border: 2px solid #A5AFFB;
  transform: translateY(-7px);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 15px 15px 25px 15px;
}

figure {
  display: flex;
  margin-bottom: 15px;
}

.card-image {
  width: 100%;
  border-radius: 5px;
}

.content-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-category {
  font-size: 16px;
  font-weight: 500;
  color: #48465B; 
  line-height: 1;
}

.title-status {
  margin: 10px 0 0 0;
  font-size: 13px;
  line-height: 1;
  color: #74788D;
}

.card-button {
  padding: 9px 14px;
  border: 1px solid #E8ECFA;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif; 
  font-size: 14px;
  color: #74788D;
  background: transparent;
  transition: all 0.2s linear;
  overflow: hidden;
}

.card-button:hover {
  border-color: #0D91FF; 
  background: #0084F4;
  color: #FFF; 
}

/* Animations */
.fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

